@model WebAppOS.Models.Chamado

@{
    ViewBag.Title = "Detalhes do Chamado";
}


<div>
    <h4>Detalhes do Chamado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pessoa.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pessoa.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tecnico.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tecnico.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroChamado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroChamado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataHoraAbertura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataHoraAbertura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataHoraConclusao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataHoraConclusao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JustificativaCancelamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JustificativaCancelamento)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Atualizar", "Edit", new { id = Model.ChamadoId }) |
    @Html.ActionLink("Voltar", "Index")
</p>
