@model IEnumerable<WebAppOS.Models.Chamado>

@{
    ViewBag.Title = "Lista de todos os Chamados";
}

<p>
    @Html.ActionLink("Abrir Chamado", "Create")
</p>

<h2>Lista de todos os Chamados</h2>
<table class="table table-striped table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Pessoa.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tecnico.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroChamado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataHoraAbertura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataHoraConclusao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Observacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JustificativaCancelamento)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Pessoa.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tecnico.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroChamado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataHoraAbertura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataHoraConclusao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Observacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JustificativaCancelamento)
        </td>
        <td>
            @Html.ActionLink("Atualizar", "Edit", new { id=item.ChamadoId }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.ChamadoId }) |
            @Html.ActionLink("Apagar", "Delete", new { id=item.ChamadoId })
        </td>
    </tr>
}

</table>
